@typeparam TItem
@inherits AcmeMenuBase<TItem>

<div class="acme-menu">
    <ul>
        @foreach (var menuItem in Data)
        {
            <li>
                @GetMenuItemTitle(menuItem)
            </li>
        }
    </ul>
</div>